.text-centered {
  text-align: center;
}

.text-secondary {
  color: var(--secondary);
}

.text-accent {
  color: var(--accent);
}

.text-meta {
  color: var(--elements2);
}

.text-meta-symbol {
  color: var(--yellow);
}
