.footer {
  background-color: var(--bg-section);
  padding-top: 18px;

  &__social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
}

.footer-m {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
  font-size: 0.75rem;

  @media screen and (min-width: $bp-tablet) {
    display: none;
  }

  &__logo {
    width: 81px;
    height: 30px;
  }

  &__address-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.footer-t {
  display: none;

  @media screen and (min-width: $bp-tablet) {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    font-size: 1rem;
  }

  @media screen and (min-width: $bp-laptop) {
    gap: 78px;
  }

  @media screen and (min-width: $bp-desktop) {
    display: none;
  }

  &__logo {
    width: 161px;
    height: 50px;
  }

  &__address {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    gap: 20px;
    padding-top: 7px;
  }

  &__social-list,
  &__address-list {
    flex-basis: calc((100% - 20px) / 2);
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__address-list {
    text-align: right;
  }

  &__address-item {
    justify-content: right;
  }

  &__address-link {
    display: block;
  }

  &__address-link + &__address-link {
    margin-top: 0.375em;
  }
}

.footer-d {
  display: none;

  @media screen and (min-width: $bp-desktop) {
    display: block;
    padding-bottom: 18px;
  }

  &__container {
    display: flex;
    gap: 30px;
  }

  &__logo {
    width: 161px;
    height: 50px;
  }

  &__address {
    flex-grow: 1;
    padding-top: 0.44em;
  }

  &__address-list {
    display: flex;
    justify-content: space-between;
  }

  &__address-item {
    &:first-child {
      max-width: 300px;
    }

    &:nth-child(2) {
      max-width: 300px;
    }

    &:nth-child(3) {
      max-width: 280px;
    }

    &:last-child {
      max-width: 280px;
    }
  }

  &__address-link {
    display: block;
  }

  &__address-link + &__address-link {
    margin-top: 0.375em;
  }
}
